<?xml version="1.0"?>
<robot name="object">
  <!-- <link name="world"/> -->

  <link name="link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="0.00144" ixy="0.0" ixz="0.0" iyy="0.00144" iyz="0.0" izz="0.00144"/>
    </inertial>
    <collision>
      <geometry>
        <box size="0.12 0.12 0.05"/>
      </geometry>
      <surface>
        <friction>
          <ode>
            <mu>0.5</mu>
            <mu2>0.5</mu2>
          </ode>
          <torsional>
            <coefficient>0.0</coefficient>
            <patch_radius>0.1</patch_radius>
          </torsional>
        </friction>
      </surface>
    </collision>
    <visual>
      <geometry>
        <box size="0.12 0.12 0.05"/>
      </geometry>
      <material name="red">
        <color rgba="1.0 0.0 0.0 1.0"/>
      </material>
      <!-- <material> -->
      <!--   <ambient>1 0 0 1</ambient> -->
      <!--   <diffuse>1 0 0 1</diffuse> -->
      <!--   <specular>0.1 0.1 0.1 1</specular> -->
      <!--   <emissive>0 0 0 0</emissive> -->
      <!-- </material> -->
    </visual>
  </link>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/object</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>true</legacyModeNS>
    </plugin>
    <!-- <plugin name="franka_push_gazebo" filename="libobject_params_updater.so"/> -->
  </gazebo>
  <gazebo reference="link">
    <material>Gazebo/Red</material>
  </gazebo>
</robot>
