<launch>
  <!-- gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find franka_push_gazebo)/worlds/env.world"/>
  </include>

  <!-- panda in gazebo after waiting for 5 seconds-->
  <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
        args="5 $(find franka_gazebo)/launch/panda_arm_hand.launch"
        name="timed_roslaunch_panda_arm_hand" output="screen" />
  <!--<include file="$(find franka_gazebo)/launch/panda_arm_hand.launch"/>-->

  <!-- moveit and rviz -->
  <include file="$(find franka_push_gazebo)/launch/moveit_rviz.launch"/>
</launch>
